{ns hl7-fhir-au-core,
 import #{zen.fhir hl7-fhir-r4-core hl7-fhir-au-base},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"CareTeam" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-careteam" #zen/quote hl7-fhir-au-core.au-core-careteam/schema},
                     "MedicationDispense" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-medicationdispense" #zen/quote hl7-fhir-au-core.au-core-medicationdispense/schema},
                     "Coverage" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-coverage" #zen/quote hl7-fhir-au-core.au-core-coverage/schema},
                     "Procedure" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-procedure" #zen/quote hl7-fhir-au-core.au-core-procedure/schema},
                     "Organization" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-organization" #zen/quote hl7-fhir-au-core.au-core-organization/schema},
                     "Composition" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-documentcomposition" #zen/quote hl7-fhir-au-core.au-core-documentcomposition/schema},
                     "DocumentReference" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-documentreference" #zen/quote hl7-fhir-au-core.au-core-documentreference/schema},
                     "Encounter" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-encounter" #zen/quote hl7-fhir-au-core.au-core-encounter/schema},
                     "DiagnosticReport" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-diagnosticreport" #zen/quote hl7-fhir-au-core.au-core-diagnosticreport/schema},
                     "MedicationAdministration" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-medicationadministration" #zen/quote hl7-fhir-au-core.au-core-medicationadministration/schema},
                     "Location" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-location" #zen/quote hl7-fhir-au-core.au-core-location/schema},
                     "Specimen" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-specimen" #zen/quote hl7-fhir-au-core.au-core-specimen/schema},
                     "MedicationStatement" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-medicationstatement" #zen/quote hl7-fhir-au-core.au-core-medicationstatement/schema},
                     "BodyStructure" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-bodystructure" #zen/quote hl7-fhir-au-core.au-core-bodystructure/schema},
                     "Patient" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-patient" #zen/quote hl7-fhir-au-core.au-core-patient/schema},
                     "Medication" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-medication" #zen/quote hl7-fhir-au-core.au-core-medication/schema},
                     "AllergyIntolerance" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-allergyintolerance" #zen/quote hl7-fhir-au-core.au-core-allergyintolerance/schema},
                     "PractitionerRole" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-practitionerrole" #zen/quote hl7-fhir-au-core.au-core-practitionerrole/schema},
                     "Practitioner" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-practitioner" #zen/quote hl7-fhir-au-core.au-core-practitioner/schema},
                     "MedicationRequest" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-medicationrequest" #zen/quote hl7-fhir-au-core.au-core-medicationrequest/schema},
                     "Immunization" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-immunization" #zen/quote hl7-fhir-au-core.au-core-immunization/schema},
                     "RelatedPerson" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-relatedperson" #zen/quote hl7-fhir-au-core.au-core-relatedperson/schema},
                     "Condition" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-condition" #zen/quote hl7-fhir-au-core.au-core-condition/schema},
                     "HealthcareService" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-healthcareservice" #zen/quote hl7-fhir-au-core.au-core-healthcareservice/schema},
                     "ServiceRequest" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-servicerequest" #zen/quote hl7-fhir-au-core.au-core-servicerequest/schema},
                     "Device" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-device-system" #zen/quote hl7-fhir-au-core.au-core-device-system/schema},
                     "Substance" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-substance" #zen/quote hl7-fhir-au-core.au-core-substance/schema},
                     "CarePlan" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-careplan" #zen/quote hl7-fhir-au-core.au-core-careplan/schema},
                     "Observation" {"http://hl7.org.au/fhir/core/StructureDefinition/au-core-smokingstartdate" #zen/quote hl7-fhir-au-core.au-core-smokingstartdate/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-diagnosticresult-imag" #zen/quote hl7-fhir-au-core.au-core-diagnosticresult-imag/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-heartrate" #zen/quote hl7-fhir-au-core.au-core-heartrate/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-bodyweight" #zen/quote hl7-fhir-au-core.au-core-bodyweight/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-alcoholstatus" #zen/quote hl7-fhir-au-core.au-core-alcoholstatus/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-resprate" #zen/quote hl7-fhir-au-core.au-core-resprate/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-diagnosticresult-path" #zen/quote hl7-fhir-au-core.au-core-diagnosticresult-path/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-parity" #zen/quote hl7-fhir-au-core.au-core-parity/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-gravidity" #zen/quote hl7-fhir-au-core.au-core-gravidity/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-sexassignedatbirth" #zen/quote hl7-fhir-au-core.au-core-sexassignedatbirth/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-waistcircum" #zen/quote hl7-fhir-au-core.au-core-waistcircum/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-gestationalage" #zen/quote hl7-fhir-au-core.au-core-gestationalage/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-bodyheight" #zen/quote hl7-fhir-au-core.au-core-bodyheight/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-smokingceasedate" #zen/quote hl7-fhir-au-core.au-core-smokingceasedate/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-lastmenstrualperiod" #zen/quote hl7-fhir-au-core.au-core-lastmenstrualperiod/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-smokingstatus" #zen/quote hl7-fhir-au-core.au-core-smokingstatus/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-observation" #zen/quote hl7-fhir-au-core.au-core-observation/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-bodytemp" #zen/quote hl7-fhir-au-core.au-core-bodytemp/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-bloodpressure" #zen/quote hl7-fhir-au-core.au-core-bloodpressure/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-pregnancystatus" #zen/quote hl7-fhir-au-core.au-core-pregnancystatus/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-vitalspanel" #zen/quote hl7-fhir-au-core.au-core-vitalspanel/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-headcircum" #zen/quote hl7-fhir-au-core.au-core-headcircum/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-healthprogramparticipation" #zen/quote hl7-fhir-au-core.au-core-healthprogramparticipation/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-lipid-result" #zen/quote hl7-fhir-au-core.au-core-lipid-result/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-oxygensat" #zen/quote hl7-fhir-au-core.au-core-oxygensat/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-norelevantfinding" #zen/quote hl7-fhir-au-core.au-core-norelevantfinding/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-bmi" #zen/quote hl7-fhir-au-core.au-core-bmi/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-estimateddateofdelivery" #zen/quote hl7-fhir-au-core.au-core-estimateddateofdelivery/schema,
                                    "http://hl7.org.au/fhir/core/StructureDefinition/au-core-diagnosticresult" #zen/quote hl7-fhir-au-core.au-core-diagnosticresult/schema}}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://hl7.org.au/fhir/core/ValueSet/lipid-result-reporting" #zen/quote hl7-fhir-au-core.value-set.lipid-result-reporting/value-set,
                          "http://hl7.org.au/fhir/core/ValueSet/pregnancy-status" #zen/quote hl7-fhir-au-core.value-set.pregnancy-status/value-set}}}
