{ns hl7-fhir-au-core.au-core-smokingceasedate,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-au-core.au-core-encounter
          hl7-fhir-au-core.au-core-patient
          hl7-fhir-au-core.au-core-practitionerrole
          hl7-fhir-au-core.au-core-relatedperson
          hl7-fhir-au-core.au-core-practitioner
          hl7-fhir-au-core.au-core-organization},
 schema {:zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-smokingceasedate",
         :require #{:category :effective :subject},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for an Observation resource to record, search, and fetch observations that represent a patient’s tobacco smoking cease date (quit date) with standard coding. It is based on the core FHIR [Observation](http://hl7.org/fhir/R4/observation.html) resource and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Observation resource when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:category {:type zen/vector,
                           :slicing {:slices {"socialHistory" {:schema {:type zen/vector,
                                                                        :minItems 1,
                                                                        :maxItems 1},
                                                               :filter {:engine :match,
                                                                        :match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                                                           :code "social-history"}}}}}}},
                           :every {:fhir/flags #{:MS}},
                           :minItems 1},
                :encounter {:fhir/flags #{:MS},
                            :confirms #{zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-encounter/schema}}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :fhir/flags #{:MS}},
                :status {:const {:value "final"}, :fhir/flags #{:MS}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :fhir/flags #{:MS},
                            :zen/desc "Date, and optionally time, the observation was performed"},
                :code {:match {:coding #{{:system "http://snomed.info/sct",
                                          :code "160625004"}}},
                       :fhir/flags #{:MS}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}}},
                :performer {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-practitionerrole/schema
                                                                   hl7-fhir-au-core.au-core-organization/schema
                                                                   hl7-fhir-au-core.au-core-practitioner/schema
                                                                   hl7-fhir-au-core.au-core-relatedperson/schema
                                                                   hl7-fhir-au-core.au-core-patient/schema}}}},
                :dataAbsentReason {:fhir/flags #{:MS}}},
         :zen.fhir/type "Observation"}}
