{ns hl7-fhir-au-core.au-core-diagnosticresult-imag,
 import #{hl7-fhir-au-core.au-core-diagnosticresult-imag
          zen.fhir
          hl7-fhir-au-core.au-core-patient
          hl7-fhir-au-core.au-core-practitionerrole
          hl7-fhir-au-core.au-core-relatedperson
          hl7-fhir-au-base.au-imagingresult
          hl7-fhir-au-core.au-core-practitioner
          hl7-fhir-au-core.au-core-organization},
 referenceRange-schema {:zen/tags #{zen/schema
                                    zen.fhir/structure-schema},
                        :zen.fhir/version "0.6.22",
                        :type zen/map,
                        :keys {:low {:fhir/flags #{:MS}},
                               :high {:fhir/flags #{:MS}},
                               :type {:fhir/flags #{:MS}},
                               :text {:fhir/flags #{:MS}}},
                        :fhir/flags #{:MS}},
 schema {:zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-au-base.au-imagingresult/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-diagnosticresult-imag",
         :require #{:bodySite},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for an Observation resource to record, search, and fetch diagnostic imaging results associated with a patient. It is based on the [AU Base Diagnostic Imaging Result](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-imagingresult.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Observation when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:category {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :referenceRange {:type zen/vector,
                                 :every {:confirms #{hl7-fhir-au-core.au-core-diagnosticresult-imag/referenceRange-schema}}},
                :hasMember {:type zen/vector,
                            :every {:type zen/map,
                                    :require #{:reference},
                                    :fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-diagnosticresult-imag/schema}},
                                    :zen/desc "Individual observations in a group, study, or panel"}},
                :interpretation {:type zen/vector,
                                 :every {:fhir/flags #{:MS}}},
                :method {:fhir/flags #{:MS}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :fhir/flags #{:MS}},
                :component {:type zen/vector,
                            :every {:type zen/map,
                                    :keys {:code {:fhir/flags #{:MS}},
                                           :value {:fhir/polymorphic true,
                                                   :type zen/map,
                                                   :fhir/flags #{:MS}},
                                           :dataAbsentReason {:fhir/flags #{:MS}}},
                                    :fhir/flags #{:MS}}},
                :note {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :status {:fhir/flags #{:MS},
                         :zen/desc "preliminary | final | amended +"},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :fhir/flags #{:MS},
                            :zen/desc "Date, and optionally time, the imaging study was performed"},
                :code {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :bodySite {:fhir/flags #{:MS}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}}},
                :performer {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-practitionerrole/schema
                                                                   hl7-fhir-au-core.au-core-organization/schema
                                                                   hl7-fhir-au-core.au-core-practitioner/schema
                                                                   hl7-fhir-au-core.au-core-relatedperson/schema
                                                                   hl7-fhir-au-core.au-core-patient/schema}}}},
                :dataAbsentReason {:fhir/flags #{:MS}}},
         :zen.fhir/type "Observation"}}
