{ns hl7-fhir-au-core.au-core-careplan,
 import #{hl7-fhir-r4-core.CarePlan
          zen.fhir
          hl7-fhir-au-core.au-core-patient},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.CarePlan/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-careplan",
         :require #{:subject},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for a CarePlan resource to record, search, and fetch information about a care team. It is based on the core [CarePlan]( http://hl7.org/fhir/R4/careplan.html) resource and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the CarePlan when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :status {:fhir/flags #{:MS}},
                :intent {:fhir/flags #{:MS}},
                :category {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}}}},
         :zen.fhir/type "CarePlan"}}
