{ns hl7-fhir-au-core.au-core-healthcareservice,
 import #{zen.fhir
          hl7-fhir-au-core.au-core-location
          hl7-fhir-au-base.au-healthcareservice
          hl7-fhir-au-core.au-core-organization},
 schema {:zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-au-base.au-healthcareservice/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-healthcareservice",
         :require #{:name},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for a HealthcareService resource to record, search, and fetch information about a healthcare service. It is based on the [AU Base Healthcare Service](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-healthcareservice.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the HealthcareService when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:category {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :specialty {:type zen/vector,
                            :every {:fhir/flags #{:MS}}},
                :name {:fhir/flags #{:MS}},
                :providedBy {:fhir/flags #{:MS},
                             :confirms #{zen.fhir/Reference},
                             :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-organization/schema}}},
                :type {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :active {:const {:value true}},
                :identifier {:type zen/vector,
                             :slicing {:slices {}},
                             :every {:fhir/flags #{:MS},
                                     :zen/desc "External identifiers for this item"}},
                :serviceProvisionCode {:type zen/vector,
                                       :every {:fhir/flags #{:MS}}},
                :location {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-location/schema}}}}},
         :zen.fhir/type "HealthcareService"}}
