{ns hl7-fhir-au-core.au-core-bodystructure,
 import #{zen.fhir
          hl7-fhir-au-core.au-core-patient
          hl7-fhir-au-base.au-bodystructure},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "This profile sets minimum expectations for a BodyStructure resource to record, search, and fetch information about a body structure of a patient. It is based on the [AU Base Body Structure](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-bodystructure.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Medication Statement when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context. \n\nIn AU Core a BodyStructure resource is used within the context of a referencing resource.",
         :zen.fhir/type "BodyStructure",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-bodystructure",
         :zen.fhir/version "0.6.30-11",
         :confirms #{hl7-fhir-au-base.au-bodystructure/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:location {:fhir/flags #{:MS}},
                :locationQualifier {:type zen/vector,
                                    :every {:fhir/flags #{:MS}}},
                :description {:fhir/flags #{:MS}},
                :image {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :patient {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}}}}}}
