{ns hl7-fhir-au-core.au-core-encounter,
 import #{zen.fhir
          hl7-fhir-au-core.au-core-observation
          hl7-fhir-au-core.au-core-patient
          hl7-fhir-au-core.au-core-practitionerrole
          hl7-fhir-au-core.au-core-relatedperson
          hl7-fhir-au-core.au-core-procedure
          hl7-fhir-au-core.au-core-location
          hl7-fhir-au-core.au-core-practitioner
          hl7-fhir-au-core.au-core-condition
          hl7-fhir-au-base.au-encounter
          hl7-fhir-au-core.au-core-organization},
 schema {:zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-au-base.au-encounter/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-encounter",
         :require #{:period :subject},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for an Encounter resource to record, search, and fetch basic encounter information for a patient. It is based on the [AU Base Encounter](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-encounter.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Encounter when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:encounterDescription {:fhir/flags #{:MS}},
                :serviceProvider {:fhir/flags #{:MS},
                                  :confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-organization/schema}}},
                :reasonCode {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :type {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :participant {:type zen/vector,
                              :every {:type zen/map,
                                      :keys {:type {:type zen/vector,
                                                    :every {:fhir/flags #{:MS}}},
                                             :individual {:fhir/flags #{:MS},
                                                          :confirms #{zen.fhir/Reference},
                                                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-practitionerrole/schema
                                                                                         hl7-fhir-au-core.au-core-practitioner/schema
                                                                                         hl7-fhir-au-core.au-core-relatedperson/schema}}}},
                                      :fhir/flags #{:MS}}},
                :serviceType {:fhir/flags #{:MS}},
                :status {:fhir/flags #{:MS}},
                :class {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :hospitalization {:type zen/map,
                                  :keys {:dischargeDisposition {:fhir/flags #{:MS}}},
                                  :fhir/flags #{:MS}},
                :period {:fhir/flags #{:MS}},
                :location {:type zen/vector,
                           :every {:type zen/map,
                                   :keys {:location {:fhir/flags #{:MS},
                                                     :confirms #{zen.fhir/Reference},
                                                     :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-location/schema}}}},
                                   :fhir/flags #{:MS}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-patient/schema}}},
                :reasonReference {:type zen/vector,
                                  :every {:fhir/polymorphic true,
                                          :type zen/map,
                                          :keys {:reference {:confirms #{zen.fhir/Reference},
                                                             :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-observation/schema
                                                                                            hl7-fhir-au-core.au-core-procedure/schema
                                                                                            hl7-fhir-au-core.au-core-condition/schema}}}},
                                          :fhir/flags #{:MS},
                                          :confirms #{zen.fhir/Reference},
                                          :zen.fhir/reference {:refers #{}}}}},
         :zen.fhir/type "Encounter"}}
