{ns hl7-fhir-au-core.au-core-organization,
 import #{zen.fhir hl7-fhir-au-base.au-organization},
 schema {:zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-au-base.au-organization/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-organization",
         :require #{:name},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for a Organization resource to record, search, and fetch information about an organisation. It is based on the [AU Base Organization](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-organization.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Organization when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:address {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :name {:fhir/flags #{:MS}},
                :type {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :alias {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :active {:const {:value true}},
                :identifier {:type zen/vector,
                             :slicing {:slices {}},
                             :every {:fhir/flags #{:MS}}},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS}}}},
         :zen.fhir/type "Organization"}}
