{ns hl7-fhir-au-core.au-core-patient,
 import #{zen.fhir hl7-fhir-au-base.au-patient},
 schema {:zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-au-base.au-patient/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-patient",
         :require #{:name :birthDate :identifier :gender},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for a Patient resource to record, search, and fetch basic demographics and other administrative information about an individual patient. It is based on the [AU Base Patient](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-patient.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Patient when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:address {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :dateOfArrival {:fhir/flags #{:MS},
                                :zen/desc "Year of Arrival"},
                :name {:type zen/vector,
                       :every {:fhir/flags #{:MS}},
                       :minItems 1},
                :birthDate {:fhir/flags #{:MS}},
                :_birthDate {:type zen/map,
                             :keys {:accuracyIndicator {:fhir/flags #{:MS}},
                                    :birthTime {:fhir/flags #{:MS}}}},
                :interpreterRequired {:fhir/flags #{:MS}},
                :active {:const {:value true}},
                :communication {:type zen/vector,
                                :every {:type zen/map,
                                        :keys {:language {:fhir/flags #{:MS}},
                                               :preferred {:fhir/flags #{:MS}}},
                                        :fhir/flags #{:MS}}},
                :indigenousStatus {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :slicing {:slices {}},
                             :every {:fhir/flags #{:MS}},
                             :minItems 1},
                :birthPlace {:fhir/flags #{:MS}},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :gender {:fhir/flags #{:MS}}},
         :zen.fhir/type "Patient"}}
