{ns hl7-fhir-au-core.au-core-substance,
 import #{zen.fhir hl7-fhir-au-base.au-substance},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "This profile sets minimum expectations for a Substance resource to record, search, and fetch substances associated with a patient. It is based on the [AU Base Substance](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-substance.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the Substance when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context. \n\nIn AU Core a Substance resource is used within the context of a referencing resource.",
         :zen.fhir/type "Substance",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-substance",
         :zen.fhir/version "0.6.31",
         :confirms #{hl7-fhir-au-base.au-substance/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :category {:type zen/vector,
                           :every {:fhir/flags #{:MS}}},
                :code {:fhir/flags #{:MS}},
                :description {:fhir/flags #{:MS}}}}}
