{ns hl7-fhir-au-core.au-core-practitionerrole,
 import #{zen.fhir
          hl7-fhir-au-base.au-practitionerrole
          hl7-fhir-au-core.au-core-location
          hl7-fhir-au-core.au-core-practitioner
          hl7-fhir-au-core.au-core-organization
          hl7-fhir-au-core.au-core-healthcareservice},
 schema {:zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-au-base.au-practitionerrole/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/core/StructureDefinition/au-core-practitionerrole",
         :require #{:identifier :practitioner},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for a PractitionerRole resource to record, search, and fetch a practitioner role for a practitioner associated with a patient. It is based on the [AU Base Practitioner Role](http://build.fhir.org/ig/hl7au/au-fhir-base/StructureDefinition-au-practitionerrole.html) profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets that **SHALL** be present in the PractitionerRole resource when conforming to this profile. It provides the floor for standards development for specific uses cases in an Australian context.",
         :keys {:specialty {:type zen/vector,
                            :every {:fhir/flags #{:MS}}},
                :organization {:fhir/flags #{:MS},
                               :confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-organization/schema}}},
                :active {:const {:value true}},
                :code {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :identifier {:type zen/vector,
                             :slicing {:slices {}},
                             :every {:fhir/flags #{:MS}},
                             :minItems 1},
                :practitioner {:fhir/flags #{:MS},
                               :confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-practitioner/schema}}},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :location {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-location/schema}}}},
                :healthcareService {:type zen/vector,
                                    :every {:fhir/flags #{:MS},
                                            :confirms #{zen.fhir/Reference},
                                            :zen.fhir/reference {:refers #{hl7-fhir-au-core.au-core-healthcareservice/schema}}},
                                    :maxItems 1}},
         :zen.fhir/type "PractitionerRole"}}
